pandas
numpy
seaborn
matplotlib
scikit-learn
requests
flask
sqlalchemy
pytest
beautifulsoup4
lxml
tensorflow
keras
jupyterlab
notebook
plotly
dash
fastapi
uvicorn
pydantic
pytest-cov
black
isort
mypy
tox
sphinx
sphinx-rtd-theme
-e .